/* background color */
.navbar{
    background-color: black;
    overflow: hidden;
   
}

.navbar a{
    width: 400px;
    float: left;
    height: auto;

}

ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    margin-top: 0px;
    margin-left: 62px;
    font-size: 20px;
    color: light grey;
    

}