.navbar{
    overflow: hidden;
    background-color: gray;
}
    
.navbar a{   
    float: center;
    height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
}

.navbar a:hover{
    background-color: black;
    color: gray;
}
.navbar a.active{
    background-color: black;
    color: gray;
}

p{
    font-size: 150%;
    color: white;
}
body,h1, h2, h3, h4, h5, h6{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}